<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

    <!--Below is for SSL Test:http://www.codeproject.com/Articles/36683/simple-steps-to-enable-X-certificates-on-WCF?fid=1541161&fr=1#xx0xx -->
    <system.serviceModel>
      <!--<client>
        <endpoint address="http://localhost:8000/SSLService" binding="wsHttpBinding" contract="Client.ISecureService"
            name="WSHttpBinding_ISSLService" behaviorConfiguration="CustomBehavior">
          <identity>
            <dns value="WcfServer" />
          </identity>
        </endpoint>
      </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="CustomBehavior">
            <clientCredentials>
              <clientCertificate findValue="WcfClient" x509FindType="FindBySubjectName" storeLocation="CurrentUser" storeName="My" />
              <serviceCertificate>
                <authentication certificateValidationMode="PeerTrust"/>
              </serviceCertificate>
            </clientCredentials>
          </behavior>
        </endpointBehaviors>
      </behaviors>-->

      <!--Trace 160215-->
      <diagnostics wmiProviderEnabled="true">
        <messageLogging
             logEntireMessage="true"
             logMalformedMessages="true"
             logMessagesAtServiceLevel="true"
             logMessagesAtTransportLevel="true"
             maxMessagesToLog="3000"
       />
      </diagnostics>
      
    </system.serviceModel>
  
    <!--Trace 160215-->
    <system.diagnostics>
      <sources>
        <source name="System.ServiceModel"
                switchValue="Information, ActivityTracing"
                propagateActivity="true" >
          <listeners>
            <add name="xml"/>
          </listeners>
        </source>
        <source name="System.ServiceModel.MessageLogging">
          <listeners>
            <add name="xml"/>
          </listeners>
        </source>
        <source name="myUserTraceSource"
                switchValue="Information, ActivityTracing">
          <listeners>
            <add name="xml"/>
          </listeners>
        </source>
      </sources>
      <sharedListeners>
        <add name="xml"
             type="System.Diagnostics.XmlWriterTraceListener"
                   initializeData="D:\logs\Traces.svclog" />
      </sharedListeners>
    </system.diagnostics>
  
</configuration>