<?xml version="1.0" encoding="utf-8" ?>
<!-- 160219建立，用来测试HTTP如何route到多个service endpoint，以及HTTPS的routing service。 -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
       
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloIndigoService" />
                <binding name="BasicHttpBinding_IService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <!--下面是call正常的service-->
            <!--<endpoint address="http://localhost:8000/HelloIndigoService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloIndigoService"
                contract="HelloIndigoService.IHelloIndigoService" name="BasicHttpBinding_IHelloIndigoService" />
            <endpoint address="http://localhost:8000/TestService2" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="HelloIndigoService.IService2"
                name="BasicHttpBinding_IService2" />-->
          
            <!--下面是call HTTP routing service。对于HTTPS的，配置写在code里，不读配置文件。 -->
            <endpoint address="http://WIN-C088QGABQ4R:2345/RoutingService/HelloIndigoRouter"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloIndigoService"
                contract="HelloIndigoService.IHelloIndigoService" name="BasicHttpBinding_IHelloIndigoService" />
            <endpoint address="http://WIN-C088QGABQ4R:2345/RoutingService/Service2Router" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="HelloIndigoService.IService2"
                name="BasicHttpBinding_IService2" />
        </client>
    </system.serviceModel>
</configuration>