<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  
    <!-- all below all newly added. above is for 'new scratch'-->
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="serviceBehavior">
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
       <services>
        <service behaviorConfiguration="serviceBehavior" name="HelloIndigo.HelloIndigoService">
          <!--
          注意。使用App.config来启动host时，service contract可以不是接口而是class，那么下面的contarct里写class就行。
          但是如果service contract定义的是interface，下面的contract里必须是interface而不是class，否则报异常找不到service contract。
          -->
          <endpoint address="HelloIndigoService22" binding="basicHttpBinding" bindingConfiguration="" contract="HelloIndigo.IHelloIndigoService" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8000/HelloIndigo" />
            </baseAddresses>
          </host>
        </service>
      </services>
    </system.serviceModel>
  
</configuration>