<?xml version="1.0"?>
<configuration>

  <!--<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          --><!-- To avoid disclosing metadata information, set the values below to false before deployment --><!--
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          --><!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information --><!--
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    --><!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      --><!--
    <directoryBrowse enabled="true"/>
  </system.webServer>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloIndigoService" />
                <binding name="BasicHttpBinding_IService2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/HelloIndigoService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHelloIndigoService"
                contract="ServiceReference1.IHelloIndigoService" name="BasicHttpBinding_IHelloIndigoService" />
            <endpoint address="http://localhost:8000/TestService2" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService2" contract="ServiceReference1.IService2"
                name="BasicHttpBinding_IService2" />
        </client>
    </system.serviceModel>
</configuration>
