<?xml version="1.0" encoding="utf-8"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="serviceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="serviceBehavior" name="BusinessServices.ServiceA">
                <endpoint address="Admin" binding="netTcpBinding" bindingConfiguration=""
                    contract="BusinessServiceContracts.IAdmin" />
                <endpoint address="ServiceA" binding="basicHttpBinding" bindingConfiguration=""
                    contract="BusinessServiceContracts.IServiceA" />
                <endpoint address="ServiceA" binding="netTcpBinding" bindingConfiguration=""
                    contract="BusinessServiceContracts.IServiceA" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000" />
                        <add baseAddress="net.tcp://localhost:9000" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="serviceBehavior" name="BusinessServices.ServiceB">
                <endpoint address="Admin" binding="netNamedPipeBinding" bindingConfiguration=""
                    contract="BusinessServiceContracts.IAdmin" />
                <endpoint address="ServiceB" binding="basicHttpBinding" bindingConfiguration=""
                    contract="BusinessServiceContracts.IServiceB" />
                <endpoint address="ServiceB" binding="netNamedPipeBinding" bindingConfiguration=""
                    contract="BusinessServiceContracts.IServiceB" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8001" />
                        <add baseAddress="net.pipe://localhost" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
