<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
    <system.serviceModel>
      <behaviors>
        <serviceBehaviors>
          <behavior name="routingFilters">
            <routing filterTableName="RoutingTable" />
            <serviceMetadata httpGetEnabled="true" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <services>
        <service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="routingFilters">
          <!--Routing Service -->
          <endpoint address="" binding="basicHttpBinding" contract="System.ServiceModel.Routing.IRequestReplyRouter" name="VirtualEndpoint" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:2345/RoutingService/Router" />
            </baseAddresses>
          </host>
        </service>
      </services>
      
      <client>
        <endpoint address="http://localhost:1234/AuditTrailService" binding="basicHttpBinding" contract="*" name="AWS" />
      </client>

      <routing>
        <filters>
          <filter name="AWSFilter" filterType="MatchAll" filterData="MessageBroker" />
        </filters>
        <filterTables>
          <filterTable name="RoutingTable">
            <add filterName="AWSFilter" endpointName="AWS" />
          </filterTable>
        </filterTables>
      </routing>

    </system.serviceModel>
</configuration>